# Datasets and large files
food-101/
recipe_dataset.zip
*.zip
recipe_dataset/
# FAISS index and database
*.idx
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
.env

# VS Code
.vscode/
recipe_faiss_index_full.idx
recipe_metadata.sqlite3
recipe_metadata_full.pkl
recipe_faiss_index.idx
